* {
    margin: 0;
    padding: 0;
}



header {
    background: linear-gradient(130deg, #ff00cc, #0000ff);
    color: white;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

.subscribe {
    background-color: orangered !important;
    color: white !important;
    border-radius: 50px;
}

.getting_started {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
}

.getting_started p {
    color: #b8171f !important;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.nav-link {
    color: white !important;
}

/* contact */

.bordure {
    background: linear-gradient(130deg, #ff00cc, #0000ff);
    max-width: 75%;
}